<ion-view view-title="D3 Examples">
    <ion-content>

    <!--  <div ng-controller="mainController as vm">
      <nvd3 options="vm.options" data="vm.data"></nvd3>
     </div>
     <svg width="50" height="50">
		  <rect x="0" y="0" width="50" height="50" fill="green" />
		</svg> -->
<!-- 	<svg width="50" height="50">
	  <circle cx="25" cy="25" r="25" fill="purple" />
	</svg> -->
	<ion-list>
	
		<ion-item class="item item-icon-right" ng-click="openBar()">
		    Bar
		    <i class="icon ion-ios-arrow-right"></i>
		</ion-item>
		<ion-item class="item item-icon-right" ng-click="openPie()">
		    Pie
		    <i class="icon ion-ios-arrow-right"></i>
		</ion-item>
		<ion-item class="item item-icon-right" ng-click="openLine()">
		    Line
		    <i class="icon ion-ios-arrow-right"></i>
		</ion-item>
	</ion-list>

    </ion-content>

</ion-view>



